.pusher.ui.container {
  background: #fff;
  transition: width .2s ease-in-out;
}

.pusher.ui.container.dimmed {
  width: 100% !important;
  transition: width .2s ease-in-out;
}

.pushable > .pusher:after {
  background-color: rgba(0, 0, 0, 0.5);
}
