.groups-box .ui.list .value {
  font-weight: normal;
}

.groups-box .ui.list .description {
  color: rgba(0,0,0,.4);
  margin-top: 3px;
}

.groups-box .ui.list .item {
  cursor: auto;
  position: relative;
}

.groups-box .ui.list .item:hover .description {
  color: rgba(0,0,0,1);
}

.groups-box .ui.list .item .right.floated.content {
  margin-top: -0.8em;
  position: absolute;
  top: 50%;
  right: 8px;
}

.groups-box .ui.list .item .input {
  border-bottom: 1px solid #ddd;
  width: 50%;
  margin: 3px 0;
}

.groups-box .ui.list .item .header .input {
  width: 35%;
}

.groups-box .ui.list .item .def-term,
.groups-box .ui.list .item .def-descr
 {
   color: rgba(0, 0, 0, 0.87);
   display: inline-block;
   font-weight: bold;
   margin-right: 10px;
   text-transform: lowercase;
}
